@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
*{
    font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
ul li{
    list-style: none;
    user-select: none;
    padding: 16px 50px;
    margin: 10px;
    cursor: pointer;
    position: relative;
}
ul li::before{
    background: url(https://t3.ftcdn.net/jpg/07/79/80/36/240_F_779803625_Vs6kAkZ3YeCnwU9aOS6p4bfUsATGRlZx.jpg);
    height: 27px;
    width: 27px;
    border-radius: 50%;
    content: ' ';
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
    position: absolute;

}
ul li.checked{
    text-decoration: line-through;
    color: #2c2020;
}
ul li.checked::before{
    background: url(https://image.shutterstock.com/image-vector/3d-check-mark-icon-isolated-260nw-2202400771.jpg);
    background: #fc1606;
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    border-radius: 50%;
    background: #e4dcdc;
    height: 35px;
    width: 35px;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
}
ul li span:hover{
    background: #c0b0b0;
}